# **Tree of Life Plan Team B**

## Load Data

# *********************DATASET 2 CLEANING*********

In [7]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/Rose-Petals/TOL-1B/main/TOLCC%20Break%20Through%20Tech%20Dataset_2.csv"

df2 = pd.read_csv(url)

print(df2.head())

  INTAKE METHOD        Unnamed: 1  \
0          Call  Bariatric Doctor
1          Call     Family/Friend
2     Boom Form     Family/Friend
3     Boom Form     Family/Friend
4     Boom Form     Family/Friend

  Please be specific on who sent you our way, we'd like to thank them.   \
0                                   Bariatric Doctor
1                                                Mom
2                                             Friend
3                                                NaN
4                                                NaN

     AGE       TOWN  INSURANCE CARRIER APPOINTMENT LOCATION APPOINTMENT TYPE  \
0  25-30  Elizabeth               BCBS              Virtual     Talk Therapy
1  10-15     Summit  United Healthcare              Virtual     Talk Therapy
2  20-25     Monroe               BCBS             Freehold     Talk Therapy
3  25-30      Ocean               BCBS             Freehold     Talk Therapy
4  30-35    Jackson              Aetna             Freehold     Talk Therapy

  If Talk Therapy, specifically what type?  Appointment Time Unnamed: 10  \
0                     Bariatric Evaluation     Evening (4-8)         NaN
1                       Individual (minor)  Afternoon (12-4)         NaN
2                       Individual (adult)  Afternoon (12-4)         NaN
3                       Individual (adult)  Afternoon (12-4)         NaN
4                       Individual (adult)  Afternoon (12-4)         NaN

   Unnamed: 11
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

### Reducing number of categories

##### Group some of the categories for columns like age and town that have a large number of unique categories.

In [8]:
df2.columns = df2.columns.str.strip().str.lower().str.replace(" ", "_")
df2.rename(columns={'if_talk_therapy,_specifically_what_type?': 'talk_therapy_type', 'unnamed:_1' : 'referer'}, inplace=True)
df2.drop(columns= {"please_be_specific_on_who_sent_you_our_way,_we'd_like_to_thank_them.", "unnamed:_10", "unnamed:_11"}, inplace=True)

In [9]:
#print(df2.isnull().sum())
#df2['talk_therapy_type'] = df2['talk_therapy_type'].fillna("not_talk_therapy")
#print(df2.isnull().sum())
df2['talk_therapy_type'].unique()
df2['talk_therapy_type'].value_counts()

talk_therapy_type
Individual (adult)      593
Individual (minor)      248
Couples                  57
â€‹                        18
Family                    8
Bariatric Evaluation      6
Name: count, dtype: int64

In [10]:
df2['talk_therapy_type'] = df2['talk_therapy_type'].replace('\u200b', np.nan)
df2['talk_therapy_type'] = df2['talk_therapy_type'].replace('Individual (minor)', 'Individual')
df2['talk_therapy_type'] = df2['talk_therapy_type'].replace('Individual (adult)', 'Individual')
df2['talk_therapy_type'].value_counts()

talk_therapy_type
Individual              841
Couples                  57
Family                    8
Bariatric Evaluation      6
Name: count, dtype: int64

In [11]:
def average_age(cell):
    if pd.isna(cell):
        return np.nan
    values = str(cell).replace('-', ',').split(',')
    nums = []
    for val in values:
        val = val.strip()
        try:
            nums.append(float(val))
        except ValueError:
            continue
    if not nums:
        return np.nan
    return sum(nums) / len(nums)
df2['age'] = df2['age'].apply(average_age)
print(df2['age'])

0       27.5
1       12.5
2       22.5
3       27.5
4       32.5
        ...
1030     7.5
1031    12.5
1032    17.5
1033    42.5
1034    22.5
Name: age, Length: 1035, dtype: float64

In [12]:
df2.head()

,intake_method,referer,age,town,insurance_carrier,appointment_location,appointment_type,talk_therapy_type,appointment_time
0,Call,Bariatric Doctor,27.5,Elizabeth,BCBS,Virtual,Talk Therapy,Bariatric Evaluation,Evening (4-8)
1,Call,Family/Friend,12.5,Summit,United Healthcare,Virtual,Talk Therapy,Individual,Afternoon (12-4)
2,Boom Form,Family/Friend,22.5,Monroe,BCBS,Freehold,Talk Therapy,Individual,Afternoon (12-4)
3,Boom Form,Family/Friend,27.5,Ocean,BCBS,Freehold,Talk Therapy,Individual,Afternoon (12-4)
4,Boom Form,Family/Friend,32.5,Jackson,Aetna,Freehold,Talk Therapy,Individual,Afternoon (12-4)

In [17]:
df2['appointment_time'].value_counts()
df2['appointment_time'] = df2['appointment_time'].replace('Evening (4-8)' , 'Evening')
df2['appointment_time'] = df2['appointment_time'].replace('Afternoon (12-4)' , 'Afternoon')
df2['appointment_time'] = df2['appointment_time'].replace('Morning (9-12)' , 'Morning')
df2['appointment_time'].value_counts()

appointment_time
Evening      397
Afternoon    397
Morning      240
Name: count, dtype: int64